*{
    margin: 0;
    padding: 0;
    transition: 0.5s;

}
.text {
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#myimg{
    width: 48vh;
    height: 100%;
}

/* #myimg:hover{
    width: 26vh;
    height: 100%;
} */

.topContainer{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    background:  url(../pic/LatiosBG.jpg) center center no-repeat;
    background-size: cover;
    height: 100vh;

}